<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>


    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/jquery.ui.all.css")
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    <script>
        WebFont.load({
            google: {
                families: ["Source Sans Pro:200,300,regular,700"]
            }
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
